<div class="festival p-3">
  <div class="card text-black hover-pop card-animation">
    <a [routerLink]="['festival', festival.festivalName]" class="text-decoration-none text-black">
        <div class="card-body">
            <div class="festival-information d-flex justify-content-between align-items-center">
                <div class="festival-date text-center min-width">
                    <p class="m-0">Saterday</p>
                    <p class="m-0">17.00 - 20.00</p>
                    <p class="m-0">{{festival.festivalDate}}</p>
                </div>
                <div class="title min-width text-center">
                    <h5 class="card-title m-0 festival-title">{{festival.festivalName}}</h5>
                </div>
                <div class="basic-information min-width text-center price-block">
                    <p class="m-0 festival-price">{{festival.festivalPrice}}</p>
                </div>
            </div>
        </div>
    </a>
  </div>
</div>
