.hover-pop {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
}

.hover-pop:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
}

.min-width {
  min-width: 75px;
}

@media screen and (max-width: 768px) {
  .festival-date {
    border-right: 1px solid black;
    padding-right: 1em;
    font-size: 0.75em;
  }
    
  
}