<div class="bg-dark text-white d-flex align-items-center shadow-sm">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between">
      <img src="/assets/images/LOGO.png" alt="Festival planner logo" class="m-0 logo-image"/>
        <nav>
          <ul class="list-inline m-0 d-flex align-items-center">
            <a class="text-decoration-none text-white" routerLink="/"><li class="p-3">Festivals</li></a>
            <li class="p-3"><asl-google-signin-button #googleBtnRef></asl-google-signin-button></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

