<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="overview m-4 bg-transparent rounded">
        <h2 class="m-3 text-center pt-1 text-white">UPCOMING FESTIVALS:</h2>
          <div class="overview-header d-flex justify-content-between text-white mx-4">
            <p class="m-0">Date:</p>
            <p class="m-0">Name:</p>
            <div>
              <p class="m-0 price-header">Price:</p>
            </div>
          </div>
          <div *ngFor="let festival of festivals | async" class="text-decoration-none">
            <festival [festivalData]="festival"></festival>
          </div>
      </div>
    </div>
  </div>
</div>
